<app-header [display]="display"></app-header>
<app-body></app-body>
<app-footer></app-footer>
<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form
            #form="ngForm"
            [formGroup]="loginForm"
            class="myForm text-center"
            (ngSubmit)="onSubmit(form)"
            autocomplete="off"
          >
            <!-- [formGroup]="loginForm" -->
            <header>Login</header>

            <div class="form-group">
              <input
                type="email"
                name="email"
                class="myInput form-control"
                [(ngModel)]="formModel.email"
                placeholder="email"
                id="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                formControlName="email"
              />
              <div
                *ngIf="submitted && f.email.errors"
                class="invalid-feedback"
                id="usernameValidation"
              >
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            </div>

            <div class="form-group">
              <input
                class="myInput form-control"
                type="password"
                name="password"
                id="password"
                [(ngModel)]="formModel.password"
                placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                formControlName="password"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
                id="passwordValidation"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be a atleast 8 characters
                </div>
                <div *ngIf="f.password.errors.pattern">
                  Password must have atleast 1 small , 1 capital and 1 special
                  character
                </div>
              </div>
            </div>

            <div class="form-group">
              <!-- <label>
                <input
                  id="check_1"
                  name="remember"
                  type="checkbox"
                  required
                /><small>&nbsp; Remember me</small>
              </label> -->
              <div class="mt-2">
                <a [routerLink]="['/forgotpassword']"> Forgot Password </a>
              </div>
            </div>

            <input type="submit" class="butt" value="Login" />

            <div class="my-3">
              Not have an account ? <span class="text-info signup" (click)="gotoregistration()">Sign Up here</span>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="myRightCtn">
          <button class="close" (click)="close()" mat-button>X</button>
          <div class="box">
            <header>About the Community Portal</header>
            <p class="mt-2">
              Community Portal is a great place to share information and
              collaborate with people. Moreover, that is key to business
              processes .i.e. customers, partners, or employees. However, one
              calls it a portal, a help forum, a support site, HR central, or
              something else. An online community is a great place to connect
              with the essential folks in an organization in a new and different
              way.
            </p>
            <a routerLink="/about"
              ><input type="button" class="butt_out mt-3" value="Learn More"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
