<app-navbar></app-navbar>
<div class="container">
  <h1 class="mb-3">Products</h1>

  <form [formGroup]="productform" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Add Product" id="Product_Name"
          name="Product_Name" formControlName="product" [ngClass]="{ 'is-invalid': submitted && f.product.errors }" 
            onkeyup="if(this.value.length > 0) document.getElementById('add_button').disabled = false; else document.getElementById('add_button').disabled = true;" />
          <input type="submit" class="btn btn-primary" value="Add New Product" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"  id="add_button" disabled/>
          <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
            <div *ngIf="f.product.errors.required">Product Name is required</div>
          </div>
        </div>
    </div>
  </form>
  <!-- <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Add Product"
      id="Product_Name"
      name="Product_Name"
      required
    />
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@getbootstrap"
    >
      Add New Product
    </button>
  </div> -->

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Description</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <!-- <label for="message-text" class="col-form-label">Message:</label> -->
              <textarea
                class="form-control"
                id="message-text"
                rows="5"
                placeholder="Description..."
                id="Product_Description"
                name="Product_Description"
                required
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="closeproduct"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="OnproductSubmit()"
          >
            Add Product
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of productList">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h5 class="card-title">{{ item.Product_Name }}</h5>
          <p class="card-text">{{ item.Product_Description }}</p>
          <div class="buttons" style="display: flex">
            <div>
              <a class="link button"
                >Edit <fa-icon [icon]="faArrowRight"></fa-icon
              ></a>
            </div>
            <div class="ml-3">
              <a
                class="link text-danger button"
                (click)="deleteProduct(item.Product_Id)"
                >Delete <fa-icon [icon]="faArrowRight"></fa-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
