<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<app-header [display]="display"></app-header>

<div class="container">
  <h1 class="text-center header" *ngIf="data">
    {{ this.fullarticle[0].Article_Title }}
  </h1>
  <p class="article mb-5">
    <span class="mb-3">
      <!-- class="d-grid gap-2 d-md-flex justify-content-md-end" -->
      <div style="display: flex">
        <h5 style="margin-right: auto">
          {{ this.productName }} / {{ this.categoryName }} /
          {{ this.sectionName }}
        </h5>
        <div style="float: right; text-align: right">
          <a
            class="btn btn-primary btn-sm"
            style="float: right"
            (click)="navigate()"
            type="button"
            >Back</a
          >
        </div>
      </div>

      <!-- <div
        *ngIf="data"
        [innerHTML]="this.fullarticle[0].Description | safeHtml"
      ></div> -->

      <div
        class="my-5"
        *ngIf="data"
        [innerHTML]="this.fullarticle[0].Description | safeHtml"
      ></div>
    </span>
  </p>
  <app-filemanager *ngIf="folderfound" [display] = "displayUpload"></app-filemanager>
  <div style="display: inline-flex; float: right">
    <div>
      <button
        type="button"
        class="btn btn-success"
        (click)="approvearticle()"
        *ngIf="Status && !Archive && Draft && (admin || reviewer)"
      >
        Approve
      </button>
      <button
        type="button"
        class="btn btn-warning"
        style="margin-left: 20px"
        (click)="editarticle()"
        *ngIf="
          (!Status && !Archive && Draft) ||
          (Status && !Archive && Draft && (admin || reviewer))
        "
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-danger"
        style="margin-left: 20px"
        (click)="disapprovearticle()"
        *ngIf="Status && !Archive && Draft && (admin || reviewer)"
      >
        Unapprove
      </button>
      <button
        type="button"
        class="btn btn-danger"
        style="margin-left: 20px"
        (click)="deletearticle()"
        *ngIf="(!Status && !Archive && Draft) || (!Status && Archive && !Draft)"
      >
        Delete
      </button>
    </div>
    <button
      type="button"
      class="btn btn-danger"
      style="margin-left: 20px"
      id="unpublish"
      (click)="unpublisharticle()"
      *ngIf="Status && !Archive && !Draft && (admin || reviewer)"
    >
      <!-- && !this.Draft && !this.Archive  && (admin || reviewer) -->
      Unpublish
    </button>
  </div>

  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
    id="cmtbtn"
    *ngIf="Status && !Draft && currentUser"
  >
    Comment
  </button>
  <p class="text-danger" *ngIf="loggedInUser">Please Login to Comment</p>
  <div>
    <p
      id="openclosecomment"
      style="visibility: hidden"
      class="text-danger"
      *ngIf="Status && !Draft && currentUser"
    >
      This article is closed for comments
    </p>
  </div>

  <ng-container *ngIf="this.currentUser && Status && !Draft && !Archive">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <label
        ><i>Was this Article Useful ?</i>
        <div class="btn-group">
          <a class="btn btn-lg btn-default" (click)="like()"
            ><i class="fa fa-thumbs-up" id="like"></i
          ></a>
          <a class="btn btn-lg btn-default" (click)="dislike()"
            ><i class="fa fa-thumbs-down" id="dislike"></i
          ></a>
        </div>
      </label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end text-weight-bold">
      {{ this.usefull }} out of {{ this.total }} found helpful
    </div>
  </ng-container>
  <br />
  <div class="collapse" id="collapseExample">
    <textarea
      placeholder="What's on your mind ?"
      id="comment"
      cols="150"
      rows="3"
      [(ngModel)]="userName"
      required
    ></textarea>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn btn-primary"
        type="button"
        (click)="postComment()"
        [disabled]="userName === ''"
      >
        Post
      </button>
    </div>
  </div>

  <div
    class="comments"
    *ngIf="this.currentUser && Status && !Draft && !Archive"
  >
    <h4 class="mb-3">{{ cmtHeading }}</h4>
    <div class="media-block" *ngFor="let item of commentsList">
      <a class="media-left" href="#"
        ><img
          class="img-circle img-sm"
          alt="Profile Picture"
          src="https://bootdey.com/img/Content/avatar/avatar1.png"
      /></a>
      <div class="media-body">
        <div class="mar-btm">
          <a class="btn-link text-semibold media-heading box-inline">{{
            item.user
          }}</a>
          <p class="text-muted text-sm user">{{ item.PostedOn }}</p>
        </div>
        <p>
          {{ item.Comment_Text }}
        </p>
        <div class="pad-ver">
          <ng-container *ngIf="this.currentUser">
            <div
              class="btn-group"
              *ngIf="item.User_Id === this.user.Id || this.admin"
            >
              <form (ngSubmit)="deleteComment(item.Comment_Id)">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </ng-container>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <br /><br />
</div>

<button *ngIf="isShow" (click)="gotoTop()" class="top">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</button>

<app-footer></app-footer>