<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="header" style="display: flex;">
        <h1 class="mr-3">Article List</h1>
        <select class="form-select" id="dropdown" style="width: 200px; height: 50px; position: absolute; right: 134px;" (change) = "fetchArticle($event)">
            <option *ngFor="let x of dropdown" value="{{x.value}}">{{x.name}}</option>
        </select>
    </div>
  <br />
  <div class="content" role="main">
      <div class="form-group">
        <label for="search-text">Search Article</label>
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
  </div> 
  <hr />
  <table class="table table-striped" *ngIf="data">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">Date Of Publish</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of articles | appFilter: searchText : 'Article_Title'; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td [innerHTML] = "item.Article_Title | safeHtml"></td>
        <td>{{ item.user }}</td>
        <td>{{ item.PostedOn }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/article?page=dashboard&articleid={{item.Article_Id}}&s={{item.Status}}&d={{item.Draft}}&a={{item.Archive}}"
                  >View</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="deleteArticle(item.Article_Id)"
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
