<!-- <form class="myForm text-center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input class="myInput form-control" placeholder="FirstName" type="text" id="firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" /> 
  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
    <div *ngIf="f.firstname.errors.required">FirstName is required</div>
    <div *ngIf="f.firstname.errors.pattern">FirstName must be a valid</div>
  </div>
  <select class="form-select" id="product" formControlName="product" [ngClass]="{ 'is-invalid': submitted && f.product.errors }">
    <option selected>Products</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
    <div *ngIf="f.product.errors.required">Product is required</div>
  </div>
  <button type="submit" class="butt">Register</button>
</form> -->


<app-header></app-header>

<div class="container">
  <h1 class="text-center">Create Article</h1>
  <form [formGroup]="articleCreate" #rteForm="ngForm" id="form-element">
    <div class="mb-3">
      <label class="form-label">Title</label>
    
      <input
        type="text"
        #Title
        ngModel
        class="form-control"
        id="title"
        placeholder="Title.."
        name="title"
        autocomplete="off"
        formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
      />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
 
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="product" class="form-label">Select Product</label>
       
        <select
          class="form-select"
          aria-label="Default select example"
          name="product"
          aria-placeholder="Choose Product"
          id="product"
          (change)="fetchCategory()"
          formControlName="product" [ngClass]="{ 'is-invalid': submitted && f.product.errors }"
        >
          <option value="" selected>Choose Product</option>
        </select>
        <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
          <div *ngIf="f.product.errors.required">Product is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="category" class="form-label">Select Category</label>
      
        <select
          class="form-select"
          aria-label="Default select example"
          name="category"
          aria-placeholder="Choose Category"
          id="category"
          (change)="fetchSection()"
          formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
        >
          <option value="" selected>Choose Category</option>
        </select>
        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
          <div *ngIf="f.category.errors.required">Category is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="section" style="display: inline-block" class="form-label"
          >Select Section</label
        >
       
        <select
          class="form-select"
          aria-label="Default select example"
          name="section"
          aria-placeholder="Choose Section"
          id="section"
          formControlName="section" [ngClass]="{ 'is-invalid': submitted && f.section.errors }"
        >
          <option value="" selected>Choose Section</option>
        </select>
        <div *ngIf="submitted && f.section.errors" class="invalid-feedback">
          <div *ngIf="f.section.errors.required">Section is required</div>
        </div>
      </div>
    </div>

    <div class="form-group mt-3">
      <textarea
        id="defaultRTE"
        name="defaultRTE"
        class="form-control"
      ></textarea>
      <!-- formControlName="editor" [ngClass]="{ 'is-invalid': submitted && f.editor.errors }" -->
      <!-- <div id="editorValidation" *ngIf="submitted && f.editor.errors" class="mt-2">
        <div *ngIf="f.editor.errors.required">Description is required</div>
      </div> -->
    </div>

    <!-- file-manager -->
    <app-filemanager *ngIf="loadUpload" [display] = "true"></app-filemanager>

    <label class="my-3"><b>Visibility :</b></label
    ><small
      class="text-danger"
      id="chackboxred"
      style="visibility: hidden; float: right"
      >Please Choose at least one field*</small
    >
    <br />
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="public"
        value="1"
        name="visibility"
        (change)="checkBoxValidation()"
      />
      <label class="form-check-label" for="inlineCheckbox1"
        >Public/Everyone</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="applicationuser"
        name="visibility"
        value="2"
      />
      <label class="form-check-label" for="inlineCheckbox2"
        >Application Users</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="signedinuser"
        name="visibility"
        value="3"
      />
      <label class="form-check-label" for="inlineCheckbox3"
        >Signed in Users</label
      >
    </div>
    <div class="mt-2">
      <label><b>Comments Allowed :</b></label
      ><small
        class="text-danger"
        id="chackboxred"
        style="visibility: hidden; float: right"
        >Please Choose at least one field</small
      >
      <div
        class="form-check form-switch"
        style="display: inline; margin-left: 40px"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="togglecomment"
          (change)="commentallow()"
        />
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="reset" class="btn btn-danger me-md-2">Reset</button>
      <button
        class="btn btn-primary"
        type="submit"
        id="validateSubmit"
      >
        Save to Draft
      </button>
      <button class="btn btn-success me-md-2" id="publishforreview">
        Publish For Review
      </button>
    </div>
  </form>
</div>
<style>
  .e-rte-content body {
    color: black;
    background-color: white;
  }

  .sb-header {
    z-index: 100;
  }

  .sb-content.e-view.hide-header {
    top: 0 !important;
  }

  .sb-header.e-view.hide-header {
    display: none;
  }
</style>

<br /><br /><br />

<app-footer></app-footer>
