<app-header></app-header>
<div class="searching my-3">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="searchArticle()">
          <div class="row">
            <div class="form-group col-sm-3">
              <label>Product</label>
              <select
                class="form-select"
                id="productList"
                (change)="fetchCategory()"
              >
                <option value="" selected>Choose Product</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <label>Category</label>
              <select
                class="form-select"
                id="categoryList"
                (change)="fetchSection()"
              >
                <option value="" selected>Choose Category</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <label>Section</label>
              <select class="form-select" id="sectionList">
                <option value="" selected>Choose Section</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <table>
                <tr>
                  <td>
                    <button type="submit" class="btn btn-primary size">
                      Search
                    </button>
                  </td>
                  <td>
                    <button
                      type="reset"
                      class="btn btn-danger size1"
                      (click)="refreshList()"
                    >
                      Reset
                    </button>
                  </td>
                  <td class="feku"><br /><span class="ml-3">Mode</span></td>
                  <td class="feku">
                    <div class="form-check form-switch">
                      <abbr data-title="Toggle button to switch in Review Mode">
                        <input
                          class="form-check-input mt-3 ml-1"
                          type="checkbox"
                          id="toggle-one"
                          (change)="toogleswitch()"
                        />
                      </abbr>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="isDataAvailable">
  <div class="card-box" *ngFor="let item of Articles">
    <div class="py-3" style="display: flex">
      <h4 class="header-title">{{ item.Article_Title }}</h4>
    </div>
    <div class="main">
      <h5 class="text-custom">
        {{ item.product }} / {{ item.category }} / {{ item.section }}
      </h5>
      <p
        class="text-muted font-18 mb-0 show-less"
        [innerHTML]="item.Description"
      ></p>

      <!-- <a href="/fullarticle">Read More..</a> -->
      <a (click)="readMore(item.Article_Id)">Read More</a>

      <footer class="blockquote-footer m-3">
        Posted On <cite title="Source Title">{{ item.PostedOn }}</cite>
      </footer>
      <small style="text-align: right">Posted By : {{ item.user }}</small>
    </div>
    <hr />
  </div>
</div>
