<app-header [display]="display"></app-header>
<app-body></app-body>
<app-footer></app-footer>

<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form
            [formGroup]="forgotPasswordForm"
            autocomplete="off"
            novalidate
            (ngSubmit)="forgotPassword(forgotPasswordForm.value)"
          >
            <!-- [formGroup]="loginForm" -->
            <header>Forgot Password</header>

            <div class="form-group">
              <label for="email" class="col-form-label col-sm-2 mb-2"
                >Email:</label
              >
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
              />
              <div class="col-md-5 mt-2" style="color: red">
                <em
                  *ngIf="
                    validateControl('email') && hasError('email', 'required')
                  "
                  >Email is required</em
                >
              </div>
            </div>
            <div *ngIf="showError" class="alert alert-danger mt-2" role="alert">
              <!-- <div *ngFor="let item of errorMessage">{{item}}</div> -->
              {{ errorMessage }}
            </div>
            <div
              *ngIf="showSuccess"
              class="alert alert-success mt-2"
              role="alert"
            >
              {{ successMessage }}
            </div>
            <!-- <button
              type="submit"
              class="btn btn-info"
              [disabled]="!forgotPasswordForm.valid"
            >
              Submit
            </button> -->
            <input
              type="submit"
              class="butt"
              value="Submit"
              [disabled]="!forgotPasswordForm.valid"
            />
            <a routerLink="/login"
              ><input type="submit" class="butt" value="Back to Login"
            /></a>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="myRightCtn">
          <button class="close" (click)="close()" mat-button>X</button>
          <div class="box">
            <header>About the Community Portal</header>
            <p class="mt-2">
              Community Portal is a great place to share information and
              collaborate with people. Moreover, that is key to business
              processes .i.e. customers, partners, or employees. However, one
              calls it a portal, a help forum, a support site, HR central, or
              something else. An online community is a great place to connect
              with the essential folks in an organization in a new and different
              way.
            </p>
            <a routerLink="/about"
              ><input type="button" class="butt_out mt-3" value="Learn More"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
