<app-header [display]="display"></app-header>
<app-body></app-body>
<app-footer></app-footer>

<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form
            [formGroup]="resetPasswordForm"
            autocomplete="off"
            novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)"
          >
            <!-- [formGroup]="loginForm" -->
            <header>Reset Password</header>

            <div class="form-group">
              <label for="password" class="col-form-label col-sm-2 mb-2"
                >Password:</label
              >
              <div class="warn mb-2">
                <em
                  *ngIf="
                    validateControl('password') &&
                    hasError('password', 'required')
                  "
                  >Password is required</em
                >
              </div>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="confirm" class="col-form-label mt-2 mb-2"
                >Confirm Password:</label
              >
              <div class="warn mt-2 mb-2">
                <em
                  *ngIf="
                    validateControl('confirm') &&
                    hasError('confirm', 'required')
                  "
                  >Confirmation is required</em
                >
                <em *ngIf="hasError('confirm', 'mustMatch')"
                  >Passwords must match</em
                >
              </div>
              <input
                type="password"
                id="confirm"
                formControlName="confirm"
                class="form-control"
              />
            </div>
            <div *ngIf="showError" class="text-danger warn1" role="alert">
              <div *ngFor="let item of errorMessage">{{ item }}</div>
            </div>

            <div *ngIf="showSuccess" class="text-success warn1" role="alert">
              Your password has been reset. Please
              <a [routerLink]="['/login']"> click here to log in. </a>
            </div>
            <input
              type="submit"
              class="butt"
              value="Submit"
              [disabled]="!resetPasswordForm.valid"
            />
            <input
              type="submit"
              class="butt"
              value="Back to Login"
              (click)="login()"
            />
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="myRightCtn">
          <button class="close" (click)="close()" mat-button>X</button>
          <div class="box">
            <header>Hello Peeps!</header>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Inventore sunt quas tenetur, placeat id sed harum velit tempora,
              sit quos, iste dolore necessitatibus ullam nostrum voluptate
              itaque aut repellat enim.
            </p>
            <input type="button" class="butt_out" value="Learn More" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
